# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vscode

# Tive que "criar" uma API, usei o site jsonbin.io para fazer o upload de um .json, deixando ele em um site e então, consigo realizar o get por aqui,
# a api depende de uma "master key" para que eu puxe os dados, logo adicionei um .env e um .env.example pra teste de funcionamento
.env
